 body {
      background-color: #0f1115;
      color: #fff;
      min-height: 100vh;
    }

    .login-container {
      min-height: 100vh;
    }

    .login-box {
      background-color: #121417;
      border: 1px solid #2a2d34;
      /* padding: 30px; */
      border-radius: 6px;
      /* width: 100%; */
      /* max-width: 350px; */
    }

    .instagram-logo {
      font-family: 'Billabong', cursive;
      font-size: 42px;
      text-align: center;
      margin-bottom: 30px;
    }

    .form-control {
      background-color: #1c1f26;
      border: 1px solid #2a2d34;
      color: #fff;
    }

    .form-control::placeholder {
      color: #8e8e8e;
    }

    .form-control:focus {
      background-color: #1c1f26;
      color: #fff;
      border-color: #4f5dff;
      box-shadow: none;
    }

    .btn-login { 
      background-color: #4f5dff;
      border: none;
      font-weight: 500;
    }

    .btn-login:hover {
      background-color: #3b47d6;
    }

    .divider {
      display: flex;
      align-items: center;
      margin: 20px 0;
      color: #8e8e8e;
      font-size: 13px;
    }

    .divider::before,
    .divider::after {
      content: "";
      flex: 1;
      height: 1px;
      background: #2a2d34;
    }

    .divider span {
      margin: 0 10px;
    }

    .facebook-login {
      color: #1877f2;
      font-weight: 500;
      text-decoration: none;
    }

    .forgot-link {
      font-size: 13px;
      color: #b0b0b0;
      text-decoration: none;
    }

    .signup-box {
      margin-top: 15px;
      font-size: 14px;
    }

    .signup-box a {
      color: #4f5dff;
      text-decoration: none;
      font-weight: 500;
    }

    footer {
      font-size: 12px;
      color: #8e8e8e;
    }